.vscode/*
.env
.vendor
.DS_Store
*.[56789ao]
*.a[56789o]
*.so
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
*.exe
.*.swp
*.o
*.a
*.so

_obj
_test
out/
.vs
.vscode
*.log
.idea
.idea/vcs.xml

# Ignore Mac DS_Store files
**/.DS_Store
